# dependências
node_modules
npm-debug.log
pnpm-debug.log
yarn-debug.log
yarn-error.log

# build
dist
build
*.tsbuildinfo

# testes
coverage
.nyc_output
*.spec.ts

# environment
.env
.env.*

# git
.git
.gitignore

# ide
.vscode
.idea
*.sublime-workspace

# os
.DS_Store
Thumbs.db

# docs
README.md
*.md

# ci/cd
.github

# logs
logs
*.log

# temp
.temp
.tmp

